<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar</title>
</head>
<body>
    BASE NAV BAR

{% if user.is_authenticated %}
    <div class="navbar-menu navbar-end">
        <span class="navbar-item">Welcome: {{user.username}}</span>
        <a class="navbar-item" href="{% url 'artist_list' %}">Artists</a>
        <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
    </div>
{% else %}
    <div class="navbar-menu navbar-end">
       <a class="navbar-item" href="{% url 'login' %}">Log In</a>
    </div>
{% endif %}

</body>
</html>